# Python standard
__pycache__/
*.py[cod]
.mkm512_venv/
env/

# IDE settings
.vscode/

# Project-specific Data
assets/faces/raw_images/
assets/faces/debug_aligned/
assets/faces/embeddings/*.pkl
paper_assets/

# Models
assets/models/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
mock_database